.fenetre {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-border-color: #808080;
    -fx-border-width: 2px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.button {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-border-color: #808080;
    -fx-border-width: 2px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.5), 5, 0.8, 0, 0);
}

.button:hover {
    -fx-background-color: #333333;
    -fx-border-color: #D3D3D3;
    -fx-underline: true;
}
